---
import Layout from '@/layouts/Layout.astro';
import AboutTabs from '@/components/about/AboutTabs';
import { Button } from '@/components/ui/button';
---

<Layout title="About Us - Saadatuddaraein">
  <main class="min-h-screen bg-background">
    <section class="py-16 px-4 pt-24">
      <div class="max-w-6xl mx-auto">
        <!-- Header Section -->
        <div class="text-center mb-12">
          <h1 class="text-3xl font-extrabold tracking-tight lg:text-5xl">
            Tentang Kami
          </h1>
          <p class="mt-12 text-muted-foreground text-lg max-w-4xl mx-auto leading-relaxed">
            Perjalanan kami menyoroti kekuatan kolaborasi dan tekad. Bersama-sama, kami telah mengatasi rintangan, bersukacita dalam kesuksesan kami, dan menyusun kisah kemajuan dan pencapaian.
          </p>
          <a href="/about/brochure" >
          <Button className='mt-6'>
            Lihat Brosur
          </Button>
          </a>
        </div>
        <!-- Tabs Component -->
        <AboutTabs client:load />
      </div>
    </section>
  </main>
</Layout>