---
import Layout from '../layouts/Layout.astro';
import Hero from '@/components/indexPage/hero';
import JenjangPendidikan from '@/components/indexPage/JenjangPendidikan';
import Welcome from '@/components/indexPage/Welcome.astro';
---

<Layout>
  <main class="w-full flex flex-col">

    <!-- HERO SECTION -->
    <section class="w-full bg-background">
      <Hero client:load />
    </section>
	<!-- WELCOME SECTION -->
	<section class="w-full md:pt-6 bg-background">
    <Welcome />
  </section>
  <section class="w-full">
    <JenjangPendidikan client:load/>
  </section>
  </main>
</Layout>
